/* --------------------------------------------------
 * Food Safety Recall
 * Powered by IBA
 * http://www.ibacorp.us
 * Version 1.4
 * Last Modified: 2015-07-01
 *
 *
 * Color Palette
 * Red: #ff0000;
 * Blue: #003366;
 * Light Gray: #dddddd;
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    padding-top:50px;
    margin-bottom: 180px;
}


/* 508 skip links */
.skipnav { text-align: left; }
.skipnav a { position: absolute; left: -10000px; width: 1px; height: 1px; overflow: hidden; }
.skipnav a:focus, .skipnav a:active { position: static; left: 0; width: auto; height: auto; overflow: visible; text-decoration: underline; }

/* ------------ */
/* Results Page */
/* ------------ */
    B {
        background-color: #FFFF00
    }

    .featurette-divider {
        border-top: 1px solid #ff0000;
        width: 100%;
        border-width: 100%;
    }

    .label {
        text-align: left;
        font-size: 1.25em;
        color: #003366;
        font-weight: bold;
    }

    .text {
        /*#676767*/
        color: #194775;
    }

/* End of Results */

.logo {
    width: 12.5%;
    float: left;
    margin-right: .5em;
}

.ibaLogo {
    margin-top: -.8em; 
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    /* background-color: #f5f5f5; */
    background-color: #003366;
    background-image: none;
}

.container .text-muted, .text-muted a {
    margin: 18px 0;
    color: #fff;
    text-shadow: none;
    text-decoration: none;
   
}

.navbar-inverse { 
    background-color: #003366; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwM2I3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDMzNjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top,  #003b77 0%, #003366 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003b77), color-stop(100%,#003366)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #003b77 0%,#003366 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #003b77 0%,#003366 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #003b77 0%,#003366 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #003b77 0%,#003366 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003b77', endColorstr='#003366',GradientType=0 ); /* IE6-8 */
    color: #ddd;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a { color: #ddd; }

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a,  {
    color: red;
    text-shadow: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    background-image: none;
    background-color: #f00;
    box-shadow: none;
}

.navbar-inverse .navbar-nav>.active>a:hover {
    background-image: none;
    background-color: #f08080;
    box-shadow: none;
}

.navbar-nav {
    float: right;
}

/* US Map Overrides */
#vmap {
    width; 800px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 4em;
}

.jqvmap-zoomin, .jqvmap-zoomout {
    background: #003366;
    color: #fff;
    width: 20px;
    height: 20px;
}

.jqvmap-zoomout { top: 40px; line-height: 12.5px;}

/* Form override */
.nl-form { margin-top: 1em; }
.nl-field-toggle, 
.nl-form input, 
.nl-form select, 
.state { 
    color: #f00; 
    border-bottom: 1px dashed #f00;
}
.nl-submit:before { background: #f00; }
.no-touch .nl-form .nl-submit:hover,
.no-touch .nl-form .nl-submit:active {
	background: rgba(0,51,102,0.7);
}
.no-touch .nl-form .nl-submit:hover:before {
	background: rgba(255,0,0,0.7);
}
.nl-submit-wrap { margin-bottom: 2em; }
.nl-form .nl-field-go { overflow: hidden; }

#food, 
#brand,
#classification,
#allergy { display: inline-block; }

/* results override */
.sep { margin-bottom: .3em; border-bottom: 1px solid #036; }
.liResults { margin-bottom: 2em; border-bottom: 2px dotted #f00; }
.classTitle { font-weight: bold; color: #f00; }
.results { clear:both; padding-top:2em; list-style-type:none; }
.results li { margin-left: -2.5em; }

/* IBA footer code */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url('../img/footer-img.png');
    background-repeat: repeat-x;
    padding: 30px 0;
    font-size: 14px;
    height: 180px;
}

footer,
footer a,
.footerwidget li a,
.footer-padd {
    color: #FFF;
    list-style: none;
}

.footerwidget ul { margin: 0;
  padding: 0;
  list-style: none; }

.footerwidget ul li a {
    padding: 4px 0;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footertitle, footer h4 {
    color: #FFF;
    text-transform: uppercase;
    font: 600 14px 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer .tagcloud a:hover,
.tagcloud a,
.pagination a:hover,
.hover-link:hover,
.pagination .current,
.v_first{
    color: #FFF;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.iba:hover { 
    color: #fff; 
    font-weight:normal; 
    text-decoration:none;
}

.social-icons li {
    display: block;
    float: left;
    padding: 0 5px;
}

[class*="span"].v_first { margin-left:0; }

.v_first { clear: both; }

.curPoint { cursor:pointer;}



/* screen specific queries */
@media (max-width: 449px) {
    .logo { width: 20%; margin-left: .5em; margin-right: -.5em; }
}
@media (min-width: 450px) and (max-width: 579px) {
    .logo { width: 15%; margin-left: .5em; margin-right: -.5em; }
}
@media (min-width: 580px) and (max-width: 767px) {
    .logo { width: 15%; margin-left: .5em; margin-right: -.5em; }
}
@media (max-width: 767px) { 
    body { margin-bottom: 0; }
    .navbar-nav {float:left;} 
    #vmap { height: 218px; }
    footer {
        background-image: url('../img/footer-img.png');
        background-repeat: repeat-y;
        height: auto;
        position: relative;
        
    }
    .footer-padd { padding: 5px 16px; }
    .nl-form { font-size: 1.75em; }
    .nl-field ul {
        position: absolute;
        visibility: hidden;
        background: #76C3BD;
        left: 50%;
        top: 50%;
        -ms-transform: translate(-50%,-50%) scale(0.9);
        -o-transform: translate(-50%,-50%) scale(0.9);
        -webkit-transform: translate(-50%,-50%) scale(0.9);
        -moz-transform: translate(-50%,-50%) scale(0.9);
        transform: translate(-50%,-50%) scale(0.9);
        opacity: 0;
        -webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
        transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
    }
    .nl-field.nl-field-open ul {
        -ms-transform: translate(-50%,-50%) scale(0.9);
        -o-transform: translate(-50%,-50%) scale(0.9);
        -webkit-transform: translate(-50%,-50%) scale(0.9);
        -moz-transform: translate(-50%,-50%) scale(0.9);
        transform: translate(-50%,-50%) scale(0.9);
    }
    .formy {
        width: 80%;
        margin: 0 auto;
    }
}
@media (min-width: 768px) and (max-width: 991px) { 
    #vmap { height: 540px; }
    .logo { width: 20%; }
    .navbar-header { width: 50%; }
    .nl-form { font-size: 2em; }
}
@media (min-width: 992px) and (max-width: 1199px) { 
    #vmap { height: 705px; }
    .form-control { max-width: 40%; }
    .nl-form { font-size: 3em; }
}
@media (min-width: 1200px) { 
    .form-control { max-width: 40%; }
}