<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <link rel="stylesheet" href="css/food_recall_safety.css">

    <meta property="og:type" content="website" />
    <title>Food Safety</title>
    <meta property="og:title" content="Food Safety" />
    <meta property="og:site_name" content="Food Safety" />
    <meta name="description" content="Food recalls details">
    <meta property="og:description" content="Food Recalls" />


    <!--[if lte IE 9]>
    <script src="/js/vendor/aight.v2.min.js"></script>
    <![endif]-->
    <script src="/js/vendor/d3.v3.min.js"></script>
    <script src="/js/vendor/q.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <header id="food_safety_header">
      <div class="header_container">
        <h1>Food Safety Portal</h1>
      </div>
      <div id="color_bar"></div>
    </header>
    <div class="query_div" align="center">
      <h3> Please enter your food recall query </h3> 
      <form id="query_form"  method="post" action="/foodQuery">
         <input id= "query_field" type="text" name="query" placeholder='please type your food query for recalls'>
         <input  type="submit" value='Food recall query'>
      </form>
    </div>
  </body>
</html> 
