<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center">Recalls in </h1>
            <p>
               <div style="float:left; width:50%;">
                    Sort by:
                    <select ng-model="orderProp">
                        <option value="recall_initiation_date" selected="true">Newest</option>
                    </select>
                </div>
                <div class="pull-right">
                    <a href="javascript:window.history.go(-1);">Go Back</a>
                </div>
            </p>
            <ol style="clear:both;padding-top:2em;">
                <li ng-repeat="recall in recalls | orderBy:orderProp">
                   <div class="container">
                    <div class="row sep">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">Product:</div>
                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">{{recall.product_description}}</div>
                    </div>
                    <div class="row sep">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">Company:</div>
                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">{{recall.recalling_firm}}</div>
                    </div>
                    <div class="row sep">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">Status:</div>
                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">{{recall.status}}</div>
                    </div>
                    <div class="row sep">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><a data-toggle="modal" data-target="#classModal">Seriousness</a>:</div>
                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">{{recall.classification}}</div>
                    </div>
                    <div class="row sep">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">Date:</div>
                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">{{recall.recall_initiation_date}}</div>
                    </div>
                    <div class="row sep">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">Distribution State:</div>
                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">{{recall.state}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">Reason:</div>
                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10"><!--<a href="#/recall/{{recall_number}}">-->{{recall.reason_for_recall}}<!--</a>--></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col=sm-12 col-md-12 col-lg-12 liResults">&nbsp;<!--here for spacing--></div>
                    </div>
                    </div>
                </li>
            </ol>
            <p class="pull-right">
                <a href="javascript:window.history.go(-1);">Go Back</a>
            </p>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" id="classModal" tabindex="-1" role="dialog" aria-labelledby="classModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="classModalLabel">Classification</h4>
            </div>
            <div class="modal-body">
                <p>Classification is the numerical designation (I, II, or III) that is assigned by FDA to a particular product recall that indicates the relative degree of health hazard.</p>
                <p><span class="classTitle">Class I</span> = Dangerous or defective products that predictably could cause serious health problems or death. Examples include: food found to contain botulinum toxin, food with undeclared allergens, a label mix-up on a lifesaving drug, or a defective artificial heart valve.</p>
                <p><span class="classTitle">Class II</span> = Products that might cause a temporary health problem, or pose only a slight threat of a serious nature. Example: a drug that is under-strength but that is not used to treat life-threatening situations.</p>
                <p><span class="classTitle">Class III</span> = Products that are unlikely to cause any adverse health reaction, but that violate FDA labeling or manufacturing laws. Examples include: a minor container defect and lack of English labeling in a retail food.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->