<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center">{{quantity}} recalls in {{ state }}</h1>
            <p>
                <div class="pull-right">
                    <a href="javascript:window.history.go(-1);">Go Back</a>
                </div>
            </p>
            Search: <input ng-model="query">
            <div infinite-scroll='loadMore()' infinite-scroll-distance='0'>
                <ul class="results">
                    <li ng-repeat="recall in recalls | filter:query">
                       <div class="container">
                            <div class="row sep">
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 label">Product:</div>
                                <p  class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text" id="PD"
                                    dd-text-collapse dd-text-collapse-max-length="110" dd-text-collapse-text="{{recall.product_description}}"></p>
                            </div>
                            <div class="row sep">
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 label">Company:</div>
                                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text">
                                    <span class="more" ng-bind-html="recall.recalling_firm | unsafe"></span>
                                </div>
                            </div>
                            <div class="row sep">
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 label">Status:</div>
                                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text">{{recall.status}}</div>
                            </div>
                            <div class="row sep">
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 label">Seriousness:</div>
                                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text">
                                    <a class="curPoint" data-toggle="modal" data-target="#classModal"><p ng-bind-html="recall.classification"></p></a>
                                </div>
                            </div>
                            <div class="row sep">
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 label">Date:</div>
                                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">{{recall.report_date}}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 label">Reason:</div>
                                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text" ng-bind-html="recall.reason_for_recall | unsafe"></div>
                            </div>
                            <br>
                            <hr class="featurette-divider">
                            <br>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="classModal" tabindex="-1" role="dialog" aria-labelledby="classModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="classModalLabel">Classification</h4>
            </div>
            <div class="modal-body">
                <p>Classification is the numerical designation (I, II, or III) that is assigned by FDA to a particular product recall that indicates the relative degree of health hazard.</p>
                <p><span class="classTitle">Class I</span> = Dangerous or defective products that predictably could cause serious health problems or death. Examples include: food found to contain botulinum toxin, food with undeclared allergens, a label mix-up on a lifesaving drug, or a defective artificial heart valve.</p>
                <p><span class="classTitle">Class II</span> = Products that might cause a temporary health problem, or pose only a slight threat of a serious nature. Example: a drug that is under-strength but that is not used to treat life-threatening situations.</p>
                <p><span class="classTitle">Class III</span> = Products that are unlikely to cause any adverse health reaction, but that violate FDA labeling or manufacturing laws. Examples include: a minor container defect and lack of English labeling in a retail food.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->